<ion-view view-title="{{NavTitle}}"  hide-back-button="false">
  <ion-content>
  
	<div class="list" >

 
	<button class="button button-block button-positive" ui-sref="app.editprofile()">
	  עריכת עסק
	</button>
	

 
	<button class="button button-block button-positive" ui-sref="app.working()">
	  ניהול זמינות
	</button>

	<button class="button button-block button-positive" style="direction:rtl;" ui-sref="app.available()">
	  זמין או לא?
	</button>
		
		
		
	</div>

          	
		
		  
  </ion-content>
</ion-view>
