<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content style="    background-color: #e7eff2;">
  
  	<div class="mainPageLogo" align="center">
    	<div align="center">
        	<img src="img/logo.png" style="width:100%"   />
        </div>
    </div>
    <div class="mainPageLogIn" align="center">
        <div>
            <input class="mainPageLogInInput" type="email" ng-model="loginfields.email" placeholder="הכנס אימייל" ng-model="loginfields.email" />
        </div>
        
        <div class="mt15">
            <input type="password" placeholder="הכנס סיסמא" ng-model="loginfields.password" />
        </div>
        
        <div class="mt30" style="width:25%;" ng-click="RegisterBtn()">
            <img src="img/regtext.png" style="width:100%"   />
        </div> 
        
        <div  style="width:25%; margin-top:5px;" ui-sref="app.forgotpass()">
            <img src="img/forgotpass.png" style="width:100%"   />
        </div> 

        <div class="" ng-click="LoginBtn()" style="margin-top:70px;">
            <img src="img/next_login.png" style="width:100%"   />
        </div> 
    </div>
    
    <!--
	<div class="list">
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Email</span>
		<input type="email" ng-model="loginfields.email" placeholder="">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Password</span>
		<input type="password" ng-model="loginfields.password" placeholder="">
	  </label>

	</div>

 
 	<button class="button button-block button-positive" ng-click="LoginBtn()">
	  Login
	</button>

	<button class="button button-block button-calm" ng-click="RegisterBtn()">
	  Register
	</button> -->
	
	
		  
  </ion-content>
</ion-view>
