<ion-view style=" ">

    <div style="background-color:white">
    	<img src="img/comment_pop_up_header.png" style="width:100%;" />
    </div>
    <div class="popupRate">
    	<div class="popupRateRight">
        	דירוג כללי
        </div>
        <div class="popupRateLeft">
        	<table>
            	<tr>
                	<td class="starTd" ng-click="setCommentRating(1)">
                    	<img ng-if="commentRating >=1" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <1" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(2)">
                    	<img ng-if="commentRating >=2" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <2" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(3)">
                    	<img ng-if="commentRating >=3" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <3" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(4)">
                    	<img ng-if="commentRating >=4" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <4" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(5)">
                    	<img ng-if="commentRating >=5" src="img/comment_full_star.png" style="width:100%;" />
                        <img ng-if="commentRating <5" src="img/comment_empty_star.png" style="width:100%;" />
                    </td>
                  
                </tr>
            </table>
        </div>
        <div class="textAreaComment" align="center">
        	<div>
        	 	<textarea rows="4" cols="50" placeholder="השאר עוד פרטים" ng-model="fields.comment" ></textarea> 
            </div>
        </div>
    </div>
	<div class="footerComment" ng-click="closeCommentPopup()">
		<div>
			<img src="img/ok.png" style="width:100%"/>
        </div>
  </div>
</ion-view>


